body{
    background: #2C2C2C;
}
table {
			border-collapse: collapse;
			width: 100%;
		}
		th,td {
			text-align: left;
			padding: 8px;
			border-bottom: 1px solid #a8741a;
		}
		tr:nth-child(even) {
  background-color: #a8741a;
            color: #ffffff;
		}
        
        th {
          text-align: center;
			background-color: #ffffff ;
            color: #000000;
        }
        
        tr {
            background-color: #c77e00;
            color: #ffffff;
        }
        
        h1{
            color : white;
            text-align: center;
        }